/* Container for the table with scrolling */
.table-wrapper {
  max-height: 500px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #de1c1c;
  border-radius: 5px;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(6, 183, 35, 0.1);
}

.table-container th,
.table-container td {
  padding: 12px 15px;
  text-align: left;
}

.table-container th {
  background-color: #10df17; /* Green header */
  color: white;
  text-transform: uppercase;
  
  top: 0;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2; /* Alternating row colors */
}

.table-container tr:hover {
  background-color: #ddd; /* Row hover effect */
}

.error-low {
  color: green;
  font-weight: bold;
}

.error-medium {
  color: orange;
  font-weight: bold;
}

.error-high {
  color: red;
  font-weight: bold;
}
